
<div class="container mt-5" >
  <div class="card-deck">
    <div class="card" *ngFor="let expense of expenses">
      <div class="card-body">
        <h5 class="card-title">{{ expense.title }}</h5>
        <p class="card-text">Category: {{ expense.category }}</p>
        <p class="card-text">Amount: {{ expense.amount }}</p>
        <p class="card-text">Date & Time: {{ expense.date }}</p>
 
      </div>
    </div>
  </div>
</div>

<div style="margin-left: 108px; margin-top: 20px;">
  <button class="btn btn-primary" (click)="goback()"> Back to Profile </button>
</div>
